<div class="div-block-110"><a href="#top" class="link-block w-inline-block"></a></div>
<div id="top" class="headline">
    <div class="top-50">
        <div class="text-semi">
            <img src="/images/robby.jpg" alt="Painting by https://alvar.nyc" title="Painting by https://alvar.nyc" width="100%"/>
        </div>
        <div class="div-block-107">
            <div class="div-block-109"><a href="https://github.com/rmoskal" target="_blank"
                                          class="text-regular bold info-link highlight">Github</a><a
                    href="mailto:rmoskal@mostmedia.com" class="text-regular bold info-link highlight">Email</a><a
                    href="https://stackoverflow.com/users/775345/robert-moskal" target="_blank" class="text-regular bold info-link highlight">SO</a>
                    <a href="https://calendly.com/rmoskal/30min" target="_blank" class="text-regular bold info-link highlight" title="Buy me coffee in NYC!">Book a meeting</a>
            </div>
  
        </div>
    </div>
    <div class="flex">
        <div class="text-regular">
            <p> 
                I’ve been the driving force behind a great variety and quantity of software built for both the market and internal audiences.  
            </p>
            <p>
                I'm most effective digging in with founders and product/engineering teams in early stage start-ups. Collaboration, empathy with users, and an experimental/empirical approach are my watch-words. </p>
                <p>In larger organizations, I accelerate transformation by building consensus and resolve across institutional boundaries.
            </p>
            <p>
                As an advisor and a practitioner, I'll share what I've learned shipping applications EVERY year for more than 25 years. 
            </p>
       
            <h3>I'm currently open to an additional fractional CTO role!</h3>
            <ul>
                <li>Getting you from 0 to 1, whether that means from idea to working software, from minimum viable product to minimum viable business, from boot-strapped to series A funding. We'll envision what's possible, establish criteria for success, and set a course. I'll guide and support you and your team on the way.</li>
                <li>Enabling your dev team to be product-centric, user focused; iterating and learning. They won't just build features but move you towards product/market fit.</li>
                <li>Help with architecture and other tooling. I'll size up the situation and share patterns and practices that increase quality and velocity, and decrease costs.</li>
                <li>Improving communication and trust within your development team and with external development partners. I can help you put together a team or contract a partner organization. </li>
                <li>Addressing the role of  llm's on the product and process side of things.  I can help you responsible choose where to dig in and where to be patient</li>
            </ul>
         
            <h3>I'm also available for more punctual chores. </h3>
            <ul>
             <li>Application architecture/modernization. Patterns and practices like micro-services, messaging, containerization, CI/CD... can be game changers or just box-ticking. I'll work with you to institute changes that result in measurable improvement in the speed at which your team delivers value.</li>
             <li>Adopting business process execution engines (like Camunda or jBPM) for application orchestration and outboarding business logic.</li>
             <li>Help with your elasticsearch journey; whether you are just <img alt="elasticsearch" title="elasticsearch" style="margin-Top:-3px" src="/images/elastic-elasticsearch.svg" width="16px"/> curious or need to tune the platform to get the best results for your snowflake corpus.</li>
            <li>Growing up your ETL processes. Replace your brittle and expensive home-rolled processes with ones powered by Apache Beam and Airflow.</li>
            <li>Selecting the right cloud provider and right-sizing your cloud infrastructure. Choosing one <a href="https://hackernoon.com/founder-advice-choosing-the-right-cloud-infrastructure-can-make-a-big-difference" target="_blank">cloud</a> over another could be a real  accelerant. They say companies over-provision by 30%. In my experience the wastage is much higher. Don't spend thousands of dollars a month unnecessarily!</li>
            <li>Hire me to build something in Clojure!</li>
            <li>Evaluating new product/business ideas,  product envisioning, validation, and business model analysis. If I like your idea, and we like one another, maybe we can build it together!</li>
            </ul>
        </div>
    </div>
</div>
<div class="text-huge provide-space">Chronology</div>
<div class="experience-container">
   

    <%
    formatChron = value => value<10?'00'+value:'0'+value
    
    
    %>   

  <% site.chrons.forEach(function(chron, count) { %>
    <%- include('partials/chronbox', {chron, count, length: site.chrons.length }) %>
  <% }); %>

</div>
<div class="footer"></div>
<div class="headline">
    <div class="flex">
        <div class="text-regular">Most Media © 2023<br></div>
    </div>
</div>

<script>

    document.querySelectorAll('.arrow').forEach(each => each.addEventListener('click',e=>{
        console.log(  e.target.firstElementChild)
        e.target.firstElementChild.classList.toggle("truncate")
    
    }))

    document.body.onload = function() {
        const params = new URLSearchParams(window.location.search);
        let items = params.get("items");
        if (!items)
            return 

           
        items = items.split(',').map(o=>`c${o}`).forEach(
            o=>{
                el = document.getElementById(o)
                const foo = el.children;
                foo[5].firstElementChild.firstElementChild.classList.toggle("truncate")
                el.style.border = 'dashed';
                el.style.borderWidth = '2px';
            }
        )

}

    
    </script>