<div class="div-block-110"><a href="#top" class="link-block w-inline-block"></a></div>
<div id="top" class="headline">
    <div class="top-50">
        <div class="text-semi">
            <img src="/images/robby.jpg" alt="Painting by https://alvar.nyc" title="Painting by https://alvar.nyc" width="100%"/>
        </div>
        <div class="div-block-107">
            <div class="div-block-109"><a href="https://github.com/rmoskal" target="_blank"
                                          class="text-regular bold info-link highlight">Github</a><a
                    href="mailto:rmoskal@mostmedia.com" class="text-regular bold info-link highlight">Email</a><a
                    href="https://stackoverflow.com/users/775345/robert-moskal" target="_blank" class="text-regular bold info-link highlight">SO</a>
                    <a href="https://calendly.com/rmoskal/30min" target="_blank" class="text-regular bold info-link highlight" title="Buy me coffee in NYC!">Book a meeting</a>
            </div>
  
        </div>
    </div>
    <div class="flex">
        <div class="text-regular">
            <p>The advent of LLMs marks a sea-change in the way we build software as individuals, teams, and organizations.</p>
            <p>The speed and scale at which we feel we can build today, meaning creating real benefits for our constituents, is what gives us a sense of urgency. It's gold-rush. maybe a bubble It's why the situation and path forward is full of so much hype, contradiction, and hucksterism.</p>
            <p>I believe the leverage is real. I help founders and product teams turn it into value: clearer product bets, faster delivery loops, better technical decisions, and software people love to use.</p>
            <p>Moreover, I believe embedding AI in our software will empower individuals and organizations of every size to achieve levels of automation that were once only within the reach of the richest and most powerful institutions.</p>
            <p>This means wiring agents into their systems and processes. It won't be easy but its' what I'm excited about</p>

        </div>
    </div>
</div>
<div class="text-huge provide-space">Chronology</div>
<div class="experience-container">
   

    <%
    formatChron = value => value<10?'00'+value:'0'+value
    
    
    %>   

  <% site.chrons.forEach(function(chron, count) { %>
    <%- include('partials/chronbox', {chron, count, length: site.chrons.length }) %>
  <% }); %>

</div>
<div class="footer"></div>
<div class="headline">
    <div class="flex">
        <div class="text-regular">Most Media © 2026<br></div>
    </div>
</div>

<script>

    document.querySelectorAll('.arrow').forEach(each => each.addEventListener('click',e=>{
        console.log(  e.target.firstElementChild)
        e.target.firstElementChild.classList.toggle("truncate")
    
    }))

    document.body.onload = function() {
        const params = new URLSearchParams(window.location.search);
        let items = params.get("items");
        if (!items)
            return 

           
        items.split(',').map(o=>`c${o}`).forEach(
            o=>{
                el = document.getElementById(o)
                if (!el) return;
                const bodyDiv = el.querySelector('.truncate');
                if (bodyDiv) bodyDiv.classList.remove("truncate");
                el.style.border = 'dashed';
                el.style.borderWidth = '2px';
            }
        )

}

    
    </script>