<div class="div-block-110"><a href="#top" class="link-block w-inline-block"></a></div>
<div id="top" class="headline">
    <div class="top-50">
        <div class="text-semi">
            <img src="/images/robby.jpg" width="100%"/>
        </div>
        <div class="div-block-107">
            <div class="div-block-109"><a href="https://github.com/rmoskal" target="_blank"
                                          class="text-regular bold info-link highlight">Github</a><a
                    href="mailto:rmoskal@mostmedia.com" class="text-regular bold info-link highlight">Email</a><a
                    href="https://stackoverflow.com/users/775345/robert-moskal" target="_blank" class="text-regular bold info-link highlight">SO</a>
            </div>
            <div class="div-block-108">
                Painting by <a href="https://alvar.nyc">alvar.nyc</a>.
                </div>
        </div>
    </div>
    <div class="flex">
        <div class="text-regular">
            <p> 
                I’ve been the driving force behind a great variety and quantity of software built for both the market and internal audiences. 
            </p>
            <p> 
                I work with founders to pursue product/market fit and with engineering teams to execute quickly. In 
                larger organizations, I build consensus across organizational boundaries.
            </p>
            <p>
                I practice and spread techniques that increase quality and velocity, and decrease costs. 
            </p>
            <p>
                As an advisor and a practitioner, I'll share what I've learned shipping 2-3 applications EVERY year for nearly 25 years.

            </p>
            <h1>Things to Contact me for</h1>
            <ul>
            <li>Help with evaluating new product/business ideas, including product envisioning, validation, and business model and revenue analysis. If I like your idea, and we like one another, maybe we can build it together!</li>
            <li>Application modernization and cloud migration. There may be significant advantages in <a href="https://www.codementor.io/@rmoskal/cloud-sizing-right-1qztarop1s" target="_blank">choosing one cloud over another</a>. 
                If you need hands on, I can containerize and migrate custom applications built in java, python, php, and javascript to gcloud, aws, and azure.</li>
            <li>Adopting business process execution engines (like Camunda or jBPM) for process orchestration and outboarding application logic.</li>
            <li>Growing up your ETL processes. I can transform your ad-hoc processes into ones powered by Apache Beam and Airflow.  </li>
            <li>Help with your elasticsearch journey; whether you are just es curious or need to tune the platform to get the best results for your situation.</li>
            <li>Evaluation of software and development capabilities for M&A; forensic analysis for legal procedings.</li>

            </ul>
        </div>
    </div>
</div>
<div class="text-huge provide-space">Chronology</div>
<div class="experience-container">

    <%
    formatChron = value => value<10?'00'+value:'0'+value

    templateList = _in => _in.join(' ')
    
    
    %>   

  <% site.chrons.forEach(function(chron, count) { %>
    <%- include('partials/chronbox', {chron, count, length: site.chrons.length }) %>
  <% }); %>

</div>
<div class="footer"></div>
<div class="headline">
    <div class="flex">
        <div class="text-regular">Most Media © 2022<br></div>
    </div>
</div>

<script>

    document.querySelectorAll('.big').forEach(each => each.addEventListener('click',e=>{
        e.target.classList.toggle("truncate")
    }))
    
    </script>