<html data-wf-domain="www.joshuakaplan.com" data-wf-page="5d05538885f49b624ca4c9bb"
      data-wf-site="5a5edb7a60af320001319e4b" class=" w-mod-js">
<head>
    <%- include('partials/head')%>
    <link href="/css/styles.css"
      rel="stylesheet" type="text/css">
</head>
<body class="body-2">
    <%- body %>
<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
</html>